# Bootcamp pessoa deselvolvedora Python
## Módulo 1 Fundamentos - Aula interativa 1- 07/Out/2021

## Tour da aula
* Intro
* Tipos de dados
* LISTS, tuples, sets e DICTIONARY

## Comentários

In [ ]:
# Essa varíável contabiliza o número de vezes que choveu essa semana
chuva_semana = 3

In [ ]:
'''
    O poeta é um fingidor.
    Finge tão completamente
    Que chega a fingir que é dor
    A dor que deveras sente.

                    Fernando Pessoa
'''

In [ ]:
'''
    jdnfjnvdjfnvgvbnvoi
'''

## print( )

In [1]:
print("Hello world!")

Hello world!

In [2]:
print(1)

1

## Strings

In [3]:
print("Olá, meu nome é Natasha")
print("O gato roeu a roupa do rei de Roma")

Olá, meu nome é Natasha
O gato roeu a roupa do rei de Roma

### Variáveis
* Variáveis armazenam dados para reutilização
* não podem ter espaços ou símbolos além de underscore(_)
* Não podem começar com números
* variáveis são mutáveis e podemos alterar seus valores ao longo do código

In [4]:
nome = "Jonas"
cidade = 'algum lugar no planeta terra'
print(nome)
print(cidade)

Jonas
algum lugar no planeta terra

In [5]:
print(type(nome))

<class 'str'>

In [6]:
saudacao = "olá"
print(saudacao)
saudacao = "bom dia!!"
print(saudacao)

olá
bom dia!!

In [8]:
saudacao = 'boa noite!!!'
print(saudacao)

boa noite!!!

In [9]:
saudacao = 1
print(saudacao)

1

## Mais sobre strings

In [10]:
# len para strings
nome = 'Maria'
print(len(nome))

5

In [11]:
# string Concatenation
saudacao_1 = "olá"
saudacao_2 = "bom dia!!"
print(saudacao_1 + ", " + saudacao_2)

olá, bom dia!!

In [13]:
# Split
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [15]:
lista_de_compras = "banana, arroz, abobrinha, queijo"

x = lista_de_compras.split(', ')

print(x)

['banana', 'arroz', 'abobrinha', 'queijo']

In [16]:
txt = "     Quiinta-feira     "

x = txt.strip()

print(x)

Quiinta-feira

In [19]:
txt = ",,,,,.....segunda....ccccccbbbbbbb........."

x = txt.strip(',.cba')

print(x)

segund

## Números: int e float
* int: número inteiro, não possui ponto decimal. Contém todos os números contáveis
* float: número decimal.

In [20]:
# int 
ano = 2021
no_int = 25

# float
no_float = 2.35
fracao = 0.5

print(type(ano))
print(ano)
print(type(fracao))
print(fracao)

<class 'int'>
2021
<class 'float'>
0.5

## Algumas operações matemáticas
* soma: + 
* subtração: -
* multiplicação: *
* divisao: /

In [21]:
# Imprime "500"
print(573 - 74 + 1)
 
# Imprime "50"
print(25 * 2)
 
# Imprime "2.0"
print(10 / 5) # python sempre converte int para float quando faz divisões

500
50
2.0

In [24]:
print((48 + 2) * 2) # sera que resulta em 50???

100

### somar de um jeito diferente

In [25]:
temperatura = 10 
print(temperatura)
temperatura += 2
print(temperatura)
temperatura += 2
print(temperatura)

10
12
14

## Booleans

In [26]:
var_1 = True

print(type(var_1))
print(var_1)

<class 'bool'>
True

In [27]:
var_2 = 'banana' == 'banana'
print(type(var_2))
print(var_2)

var_3 = 'banana' == 'pera'
print(type(var_3))
print(var_3)

<class 'bool'>
True
<class 'bool'>
False

In [28]:
var_4 = 5 > 2
print(type(var_4))
print(var_4)

var_5 = 21 < 9
print(type(var_5))
print(var_5)

var_6 = 2 >= 2
print(type(var_6))
print(var_6)

<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
True

## Erros
É importante entender e conhecer os diversos tipos de erros. Alguns erros comuns:
* SyntaxError: Algo errado com a maneira que o programa está escrito. Ex: pontuação inexistente, comando em um lugar inesperado, parenteses faltando.
* NameError: Python encontra uma palavra que não reconhece. Ex: variável que não foi definida
* IndentationError: Python esperava um bloco indentado, porém o mesmo não foi encontrado

In [29]:
print("Essa frase não sera impressa)

SyntaxError: EOL while scanning string literal (<ipython-input-29-b48ee6dca4d9>, line 1)

In [30]:
print("Essa frase não sera impressa")

Essa frase não sera impressa

In [32]:
um_numero = 10

In [35]:
print(idade)

12

In [36]:
print(bbaa)

NameError: name 'bbaa' is not defined

In [37]:
for i in range(1, 10):
print(i)

IndentationError: expected an indented block (<ipython-input-37-87a6e1d612ec>, line 2)

## Identação
Algumas linguagens como java se utilizam de {} para definir o bloco de um código, python utiliza identação!

## Interagindo com o usuário: Função input( ) 
mas antes vamos trocar de IDE....

## Lists
* Uma das varias estruturas do python que nos permite trabalhar com coleções de dados
* É feita com [ ]
* Pode conter os mais variados tipos de dados

In [38]:
nomes = ['Ana', 'Carlos', 'Maria']
idades = [23, 40, 65]
lista_mista = ['Aninha', 27, True, 2.5]

print(nomes)
print(idades)
print(lista_mista)

['Ana', 'Carlos', 'Maria']
[23, 40, 65]
['Aninha', 27, True, 2.5]

### Listas vazias (empty lists)

In [39]:
minha_lista_vazia = []

## Métodos
minha_lista_vazia.metodo()

### append( )

In [40]:
minha_lista_vazia.append(1)

print(minha_lista_vazia)

[1]

In [41]:
minha_lista_vazia.append(2, 3, 4, 5)

TypeError: append() takes exactly one argument (4 given)

### Aumentando listas com +

In [43]:
to_do_list = ["estudar python", "debugar o codigo", "codar o app"]

In [45]:
to_do_list = to_do_list +['a, b, c', 'd']

print(to_do_list)

['estudar python', 'debugar o codigo', 'codar o app', 'a, b, c', 'a, b, c', 'd']

### Acessando elementos de uma lista pelo index

In [63]:
ligar_para = ["Monique", "Mario", "Mainara", "Bia", "Lucs", "Diego"]

In [50]:

print(ligar_para[0])

print(ligar_para[-1])

Monique
Diego

### Modificando elementos de uma lista

In [51]:
ligar_para[0] = "Rita"

In [62]:
print(ligar_para)

['Rita', 'Bia', 'Lucs', 'Diego', [1, 2], [1, 2]]

### Removendo elementos .remove( )

In [53]:
ligar_para.remove("Mario")

In [54]:
print(ligar_para)

['Rita', 'Mainara', 'Bia', 'Lucs', 'Diego']

### Removendo e armazenando como uma variável .pop( )

In [55]:
var_4 = ligar_para.pop(1)
print(ligar_para)
print(var_4)

['Rita', 'Bia', 'Lucs', 'Diego']
Mainara

In [57]:
ligar_para.append([1, 2])
print(ligar_para)

['Rita', 'Bia', 'Lucs', 'Diego', [1, 2], [1, 2]]

## Listas 2D

In [59]:
alturas = [["Jennifer", 1.61], ["Alexandre", 1.80], ["Samuel", 1.67], ["Joana", 1.72]]

In [60]:
print(alturas[0][1])

1.61

In [61]:
print(alturas[2][0])

Samuel

## len( )

In [64]:
print(len(ligar_para))

6

## Slicing
lista[começo:fim]
* começo: Índice do primeiro elemento a ser incluído na seleção.
* fim: Índice do último elemento a ser incluído na seleção somado um, pois é exclusivo

In [66]:
letras = ["a", "b", "c", "d", "e", "f", "g"]

In [67]:
print(letras[0:3])

['a', 'b', 'c']

In [68]:
print(letras[:3])

['a', 'b', 'c']

## .count( )

In [69]:
letras = ["m", "i", "s", "s", "i", "s", "s", "i", "p", "p", "i"]

In [70]:
print(letras.count('s'))

4

In [71]:
print(letras.count('p'))

2

## Tuples( )
* Permite armazernar tipos de dados variados
* muito similar à listas, mas é imutável

In [72]:
tupl_1 = ('Natasha', 30, 'cientista de dados')

### Unpacking - podemos armazenar os dados de um tuple em variáveis

In [74]:
nome, idade, ocupacao = tupl_1

In [76]:
print(nome)
print(idade)
print(ocupacao)

Natasha
30
cientista de dados

## Sets
* Conjunto de valores únicos
* Contem valores de tipos imutáveis
* Não é indexado, logo não podemos acessar objetos pelo índice

In [77]:
a_set = {'alpha', 'gama', 'beta'}             
print (a_set)

{'beta', 'gama', 'alpha'}

### Adicionando e removendo itens
Quando um set é criado não podemos mudar os itens, mas podemos adicionar ou remover itens com .add( ) e .remove( )

In [80]:
a_set.add("na")
print(a_set)

{'na', 'beta', 'gama', 'alpha'}

## Dictionary
* pares key:value
* mutável

In [ ]:
menu = {"macarrão a bolonhesa": 6, "suco de laranja": 5, "muffin": 2}

In [ ]:
traducao = {"montanha": "mountain", "pão": "bread", "pássaro": "bird"}

### Listas e dicionários

In [81]:
menu = {"macarrão a bolonhesa": 1, "suco de laranja": 5, "muffin": 2}

In [82]:
print(menu)

{'macarrão a bolonhesa': [1, 2, 3], 'suco de laranja': 5, 'muffin': 2}

### Adicionando pares key:value

In [84]:
pedidos = {}

In [85]:
pedidos['frango'] = 3

In [86]:
print(pedidos)

{'frango': 3}

### Acessando valores com a chave

In [87]:
menu = {"macarrão a bolonhesa": 1, "suco de laranja": 5, "muffin": 2}

In [88]:
print(menu["suco de laranja"])

5

### Acessando valores com .get(key)

In [89]:
print(menu.get("suco de laranja"))

5

### Acessando chaves com.keys()

In [91]:
print(menu.keys())

dict_keys(['macarrão a bolonhesa', 'suco de laranja', 'muffin'])

### .items()

In [92]:
print(menu.items())

dict_items([('macarrão a bolonhesa', 1), ('suco de laranja', 5), ('muffin', 2)])

## Voltando às listas....zip( )

In [96]:
nomes = ['Bruna', 'Renan', 'Julia']
alturas = [1.70, 1.75, 1.55, 1.90]

In [97]:
nomes_e_alturas = zip(nomes, alturas)
print(nomes_e_alturas)

<zip object at 0x00000226ADC81780>

In [98]:
lista = list(nomes_e_alturas)
print(lista)

[('Bruna', 1.7), ('Renan', 1.75), ('Julia', 1.55)]